* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 240, 235);
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 24px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.image {
    margin-bottom: 10px;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: skyblue;
    padding: 3px;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-data .name {
    font-size: 22px;
    font-weight: 500;
}

.text-data .job {
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-buttons {
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.media-buttons .link {
    text-decoration: none;
    background-color: #4070f4;
    height: 34px;
    width: 34px;
    margin: 0 8px;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.buttons .button{
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #4070f4;
}

.buttons .button:hover{
    background-color: rgb(66, 66, 239);
}