
#main{
    background-color: color-mix(in srgb, #7b43e1,rgb(232, 145, 145));
    border: 2px solid black;
    padding: 12px;
}
.address label{
    display: flex;
    align-items: center;
    gap:50px;
}
.head label{
    margin-right: 50px;
}

.mid label{
    margin-right: 50px;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 10px;
}